
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact">
    <div class="container">
        <div class="contact-main">
            <h3>Adresimiz</h3>
            <div class="contact-top">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3887.934190118153!2d77.63611399999999!3d12.976061!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16a3f47ada21%3A0x6959ab57b8bec812!2sDFS%2C+No+184+1st+Floor!5e0!3m2!1sen!2sin!4v1421480060066" frameborder="0" style="border:0"></iframe>
                <p> Amacımız siz değerli konuklarımıza en iyi hizmeti verebilmektir.İzlenimleriniz bizim için önemli olduğundan lütfen görüşlerinizi ve eleştirilerinizi bizlere iletin.</p>
                <br />
                <br />   
                 <div class="col-md-4 contact-left">
                        <div class="c-left">
                            <span class="adrs"> </span>
                        </div>
                        <div class="c-right">
                            <h5>Antalya,<span>Kemer </span></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 contact-left">
                        <div class="c-left">
                            <span class="ph"> </span>
                        </div>
                        <div class="c-right">
                            <p>
                                Telefon Numarası: +1 234 567 9871
                                <span>FAX Numarası: +1 234 567 9871</span>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 contact-left">
                        <div class="c-left">
                            <span class="mail"> </span>
                        </div>
                        <div class="c-right">
                            <p><a href="mailto:info@example.com">mutluhotel@gmail.com</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="contact-bottom">
                <h3>İLETİŞİM FORMU</h3>
                <div class="contact-text">
                    <form>
                        <input type="text" value="Adınız" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}" />
                        <input type="text" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
                        <textarea value="Mesajınız:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Mesajınız..</textarea>
                        <div class="contact-but">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
